In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("./csv/ohlcv_with_future.csv", date_parser=True)

In [25]:
df.head()

,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
1,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.0,downtrend,NaN,-1.0,1.0,1.0
2,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,1.0,0.0,1.0
3,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.0,downtrend,NaN,1.0,-1.0,1.0
4,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,-1.0,-1.0,1.0

In [26]:
from talib import MA

,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
1,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.0,downtrend,NaN,-1.0,1.0,1.0
2,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,1.0,0.0,1.0
3,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.0,downtrend,NaN,1.0,-1.0,1.0
4,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,-1.0,-1.0,1.0

In [22]:
# df.to_csv(index=False, path_or_buf="./csv/ohlcv_with_future.csv")